@import "./variable.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}


body, html {
  margin: 0;
  padding: 0;
  background-color: $main-bg; 
}




a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Roboto", sans-serif;
  background-color: $main-bg;
  color: $main-color;
}



.container {
  display: flex;
  height: 100vh;
}

.menuContainer {
  width: 250px;
  height: 100%;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;
}

.contentContainer {
  flex-grow: 1;
  padding: 20px; // Adjust padding as needed
//   background-color: ;
//   overflow-y: auto;
}
